<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.mvc.dao.drag.DragMapper">
    <!-- 查询列表 -->
    <select id="queryDesignPageList"  resultType="PageDesign" parameterType="PageDesign">
		select t.id,t.page_name,t.page_describe,t.serialized_data,t.isvalid,t.designtime  from page_design t 
		  <where>
			  <if test="page_name != null">
			     page_name like  concat(concat('%',#{page_name}),'%')
			  </if> 
			  <if test="page_describe != null">
			    AND page_describe like  concat(concat('%',#{page_describe}),'%')
			  </if>
		  </where>
	</select>
	
	<!-- 通过id查询 -->
	<select id="queryDesignPageById"  parameterType="String" resultType="PageDesign">
		select t.id,t.page_name,t.page_describe,t.serialized_data from page_design t  where t.id=#{id}
	</select>
	
	<!-- 得到最新的页面设计模型 -->
	<select id="getLatestDesignPage"  resultType="PageDesign">
		select t.id,t.page_name,t.page_describe,t.serialized_data from page_design t  order by t.designtime desc 
	</select>
	
	<!-- 更新-->
	<update id="updateserializedData" parameterType="PageDesign">
		update page_design t
		set t.serialized_data=#{serialized_data},
		t.designtime=sysdate
		where t.id=#{id}
	</update>
	
	<!-- 保存 -->
	<insert id="savePageDesign"  parameterType="PageDesign">
	    <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id"> 
            SELECT sys_guid() from dual 
        </selectKey>
		insert into page_design(id,page_name,page_describe,serialized_data,isvalid,designtime)
		values (#{id},#{page_name},#{page_describe},#{serialized_data},#{isvalid},sysdate)
	</insert>
	
	<!-- 更新-->
	<update id="updatePageDesign" parameterType="PageDesign">
		update page_design t
		  <set>
		      t.designtime=sysdate,
	      <if test="page_name != null">t.page_name=#{page_name},</if>
	      <if test="page_describe != null">t.page_describe=#{page_describe},</if>
	      <if test="serialized_data != null">serialized_data=#{serialized_data},</if>
	      <if test="isvalid != null">isvalid=#{isvalid}</if>
	    </set>
        where t.id=#{id}
	</update>
	
	<!-- 通过id删除-->
	<delete id="deletePageDesignById" parameterType="String">
	    delete from page_design  where id=#{id}
	</delete>
	
</mapper>