.require {
   color: red;
   width: 20px;
   font-weight: bold;
}

.form-group{
	height:25px;
}

.ibox {
	clear: both;
	margin-bottom: 2px;
	margin-top: 0;
	padding: 0
}
.ibox-content {
	color: inherit;
	padding: 5px 10px 10px;
	border-color: #e7eaec;
	-webkit-border-image: none;
	-o-border-image: none;
	border-image: none;
	border-style: solid solid none;
	border-width: 1px 0
}

.hr-line-dashed {
	border-top: 1px dashed #e7eaec;
	color: #fff;
	background-color: #fff;
	height: 1px;
	margin: 10px 0
}
.hr-line-solid {
	border-bottom: 1px solid #e7eaec;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid !important;
	margin-top: 15px;
	margin-bottom: 15px
}