<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.mvc.dao.sysmanager.codetype.SysCodeTypeMapper">
    <!-- 获取全部代码类型 -->
    <select id="getInitcodetypeList"  resultType="CodeType" >
		select aaa100 code_type from v_code_type
	</select>
	
	<!-- 通过代码类型获取对应代码   -->
	<select id="getInitCodeValueList" parameterType="String" resultType="CodeValue" >
		 select aaa102 code_value ,aaa103 code_name,aaa106 code_describe  from v_aa10 where aaa100=#{code_type}  order by aaa102
	</select>
	
	<!-- 通过代码类型获取对应代码 -->
	<select id="queryCodeValueByCodeTypeAndParent" parameterType="CodeValue" resultType="CodeValue" >
		 select aaa102 code_value ,aaa103 code_name  from v_aa10 where aaa100=#{code_type} and aaa105=#{par_code_value} order by aaa102
	</select>
	
	<!-- 代码树 -->
	<select id="getCodeValueTree"  parameterType="CodeValue" resultType="CodeValue" >
		select 
		code_value id ,
		code_name name, 
		nvl(code_describe,code_name) code_describe,
		par_code_value pid,
		decode(sign((select count(*) from code_value s where s.par_code_value=t.code_value)),'1','true','false') isparent
		from 
		code_value t where t.code_type=#{code_type} and par_code_value=#{par_code_value} order by t.code_value
	</select>
	
	<!-- 得到代码类型树 -->
	<select id="getCodeTypeTreeData" resultType="CodeType">
	select 
		code_type id ,
		type_name||'('||code_type||')' name, 
		type_name,
		'false' isParent,
		 code_root_value 
	from code_type 
	</select>
	
	
	<!-- 得到代码类型树 -->
	<select id="getCodeTypeInfo"  parameterType="String" resultType="CodeType">
	select 
		code_type, 
		code_root_value 
	from code_type where code_type=#{code_type}
	</select>
	
	
	<!-- 通过代码类型获取代码明细信息 -->
	<select id="getCodeValueByType" parameterType="CodeType" resultType="CodeType" >
	 select 
		code_value id , 
		code_seq , 
		code_name||'('||code_value||')' name,
		isParent
		from   (
		select a.code_seq , a.code_value,a.code_name, decode(sign((select count(*) from code_value s where s.par_code_value=a.code_value and s.code_type=#{code_type} )),'1','true','false')  isParent 
		from   code_value a  where  a.code_type=#{code_type}  order by  code_value )  
	</select>
	
	<!-- 通过代码头节点+代码类型获取代码明细信息 -->
	<select id="getCodeValueByTypeAndRoot" parameterType="CodeType" resultType="CodeType" >
		 select 
		 code_value id , 
		 code_seq,
		 code_name||'('||code_value||')' name,
		 isParent
		 from   (
		 select a.code_seq, a.code_value,a.code_name, decode(sign((select count(*) from code_value s where s.par_code_value=a.code_value and s.code_type=#{code_type}  )),'1','true','false')  isParent 
		 from   code_value a  where a.par_code_value=#{code_root_value}  
		 and a.code_type=#{code_type}   order by  code_value )
	</select>
</mapper>